
config mosdns-cn
	option enable '0'
	option listen_addr ':5553'
	list local_upstream '223.5.5.5'
	list local_upstream '114.114.114.114'
	list remote_upstream '208.67.222.222:443'
	list remote_upstream 'tcp://8.8.8.8'
	list remote_upstream 'tls://dns.google?netaddr=8.8.8.8:853'
	list remote_upstream 'https://dns.google/dns-query?netaddr=8.8.8.8'
	list local_ip '/etc/mosdns-cn/cn.dat:cn'
	option auto_update '0'
	list update_file_url 'https://cdn.jsdelivr.net/gh/Loyalsoldier/geoip@release/cn.dat'
	option cache_size '10000'
	option lazy_cache_ttl '259200'
	option lazy_cache_reply_ttl '30'
